/* Container for the whole TODO list */
.todoDiv {
    padding: 8px 12px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

/* Each TODO item */
.todoDiv>div {
    padding: 6px 8px;
    border-radius: 4px;
    border: 2px solid var(--background-modifier-hover);
    background-color: var(--background-primary);
    cursor: pointer;
    overflow: hidden;
    transition: background-color 0.15s ease;
}

/* Hover effect */
.todoDiv>div:hover {
    background-color: var(--background-modifier-hover);
}

.todoDiv>div:active {
    background-color: var(--background-modifier-active);
}
.todoDiv.div:active .todoItemTitle {
    background-color: var(--background-secondary);
}

.todoItemTitle {
    background-color: var(--background-secondary);
    padding: 0px 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--interactive-accent);
}

.todoItemLocation {
    color: var(--text-faint);
    text-decoration: italic;
}